html
  head
    title JiraScribe
    link(href="images/favic.ico" rel="shortcut icon" type="image/x-icon")
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="toastr.css")
    link(rel="stylesheet" href="styles/dashboard.css")
    
  body
    include header.pug
    include tr-partial.pug
    
    +header(data.user)

    div(class='container')
      if data.issues.length > 0
        .table-container
          table(class='table table-bordered table-condensed')
            thead(class="thead-light")
              tr
                th 
                th Issue Description
                th.wd-sm Logged
                th.wd-sm Remaining
                th(class="wd-20") Log time
                th Status
            tbody    
            each issue in data.issues
                if issue.issueType === "Story" || issue.issueType ==="Task"
                  tr  
                    td(class="bg-light py-4")
                      img(src= issue.issueTypeIconUrl)
                    td(colspan="5" class="bg-light py-4")
                      if !issue.isSubTask == true
                        span(class="font-weight-bold")= `${issue.issueKey} - ${issue.summary}`
                      else
                        span= `${issue.issueKey} - ${issue.summary}`
                else
                if issue.subTasks
                  each subTask in issue.subTasks
                    +tableRow(subTask)
                else
                  +tableRow(issue)
      else
        .no-data-container.text-center
          img(class='mb-2' src='images/beer.jpg' width="320")
          p.lead Chill out and have a beer instead

  script(src="scripts/jquery.js" type="text/javascript")
  script(src="toastr.min.js" type="text/javascript")
  script(src="popper.min.js"  type="text/javascript")
  script(src="js/bootstrap.min.js"  type="text/javascript")
  script(src="scripts/dashboard.js" type="text/javascript")
  