nav.navbar.navbar-light.bg-light.mb-4.shadow-sm
    a.navbar-brand(href='javascript:void(0)')
        img.d-inline-block.align-top.mr-2(src='images/daybook-logo.png' width='30' height='30' alt='logo')
        |JiraScribe

