html
    head
        title JiraScribe
        link(href="images/favic.ico" rel="shortcut icon" type="image/x-icon")
        link(rel="stylesheet" href="styles/login.css")
    body
        .login-wrapper
            h3.brand-title JiraScribe
            p.brand-subtitle Logging made easier.
            a(class='login-btn' href="login/requesttoken")
                span(class='image')
                    img(src='images/jira-logo.png')
                span(class='text')
                    |Login to Explore              
            